---
layout: page
title: "About me"
description: "Youth is not a period of time, it is a state of mind."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>登临送目 正故国晚秋<br>
                   天气初肃 千里澄江似练<br>
	           翠峰如簇 归帆去棹残阳里<br>
		   背西风 酒旗斜矗 彩舟云淡 星河鹭起 画图难足<br>
    </p></blockquote>

    <p>大家好，我是<strong>郭强(昵称，小智 or GQ)</strong>，人在大连，民大教师</p>

    <p>致力于用前沿实用技术解决工程问题，为社会做微末贡献！望有志于此的同学、同事们共努力!</p>

    <p>下面为个人简介.</p>

    <h5>求学经历</h5>
    <p> 2007年获得吉林师范大学电子信息工程学士学位。2011年获得辽宁石油化工大学控制理论与控制工程专业硕士学位。2022年获得大连理工大学获得控制理论与控制工程专业博士学位。<br />
    2023年起至今，为大连民族大学讲师。</p>
    <p>发表论文共计6篇，其中第一作者SCI论文2篇（中科院一、二区），通讯作者SCI论文1篇（中科院二区），第一作者EI论文1篇，第二作者EI论文1篇，<br />
    第一作者中文科技核心论文1篇。参与科研项目2项，</p>
    <h5>研究方向</h5>
    <ul>
    <li><p>机器视觉</p>
    </li>
    <li><p>深度学习</p>
    </li>
    <li><p>嵌入式开发</p>
    </li>
    <li><p>故障诊断</p>
    </li>
    </ul>
    <h5>发表论文 </h5>
    <ol>
    <li><p> <b>郭强</b>*,刘伟平.基于支持向量机的裂解炉燃料气热值软测量,石油化工自动化,2014,50(05):38-41. (IF=0.431))]</p>
    </li>
    <li><p><b>李奇安</b>*,郭强.基于在线SVM的裂解炉燃料气热值软测量,浙江大学学报(工学版),2015,49(03):457-463+487. EI刊源. (IF=1.61)</p>
    </li>
    <li><p>郭强,<b>刘全利</b>*,王伟. Fast SqueezeNet算法及在地铁人群密度估计上的应用, 控制理论与应用,2019,36(07):1036-1046. EI刊源. (IF=1.884)</p> 
    </li> 
    <li><p>Qiang Guo, <b>Quanli Liu</b>*, Wei Wang, Yuanqing Zhang, Qiang Kang. A fast occluded passenger detector based on MetroNet and Tiny MetroNet, Information Sciences, 2020,534:16-26. SCI刊源/一区TOP. (IF=6.795)</p>
    </li> 
    <li><p>Quanli Liu, <b>Qiang Guo</b>*, Wei Wang, Yuanqing Zhang, Qiang Kang. An Automatic Detection Algorithm of Metro Passenger Boarding and Alighting Based on Deep Learning and Optical Flow, IEEE Transactions on Instrumentation and Measurement, 2021,70: 1-13. SCI刊源/二区. (IF=4.016)</p>
    </li>   
    <li><p>Qiang Guo, <b>Quanli Liu</b>**, Yuanqing Zhang, Qiang Kang. A Smart Metro Passenger Detector Based on Two Mode MetroNexts, IEEE Transactions on Instrumentation and Measurement, 2023,72: 1-15. SCI刊源/二区. (IF=4.016)</p>
    </li>
    <h5>工作经历</h5>
    <ol>
    <li><p>2014.07-2015.05 哈尔滨航天科技控股集团股份有限公司 软件工程师</p></li>
    <ul>
    <li><p>负责设计 Sim 卡电路、液晶屏电路h</p>
    </li>
    <li><p>B7车速检测，记录仪国标、行标的过检实验</p>
    </li>
    </ul>
    <li><p>2015.05-2017.05 江南计算技术研究所 软件工程师</p></li>
    <ul>
    <li><p>编写国产化平台GPIO和BUZZ驱动程序</p>
    </li>
    <li><p>国产平台内核产品化 更正CPU信息显示和Bogomips显示错误等,</p>
    </li>
    <li><p>Raid卡盘阵的适配和测试</p>
    </li>
    </ul>
    <li><p>2022.10-2023.4 中国兵器工业集团航空弹药研究院 算法工程师</p></li>
    <ul>
    <li><p>导引头选型</p>
    </li>
    <li><p>小目标协同探测算法开发</p>
    </li>
    <li><p>算法的嵌入式布置</p>
    </li>
    </ul>
    <h5>Talks</h5>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <!-- <li><a href="http://huangxuan.me/">Hux</a></li> -->
        <!-- <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li> -->
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

