---
layout: page
title: "About me"
description: "Youth is not a period of time, it is a state of mind."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> 

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>登临送目 正故国晚秋<br>
                   天气初肃 千里澄江似练<br>
	           翠峰如簇 归帆去棹残阳里<br>
		   背西风 酒旗斜矗 彩舟云淡 星河鹭起 画图难足<br>
    </p></blockquote>

    <p>大家好，我是<strong>郭强(昵称，小智 or GQ)</strong>，人在大连，民大教师</p>

    <p>致力于用前沿实用技术解决工程问题，为社会做微末贡献！望同有志于此的同学、同事们共努力!</p>

    <p>下面为个人简介。</p>

    <h5>个人经历</h5>
    <p> 2007年获得吉林师范大学电子信息工程专业学士学位。2011年获得辽宁石油化工大学控制理论与控制工程专业硕士学位。2022年获得大连理工大学控制理论与控制工程专业博士学位。<br />
    2023年起至今，为大连民族大学机电工程学院自动化系讲师、大连理工大学-大连日佳电子有限公司联合培养博士后。</p>
    <p>已发表论文共计7篇，其中第一作者SCI论文3篇（中科院一、二区），通讯作者SCI论文1篇（中科院二区），第一作者EI论文1篇，第二作者EI论文1篇，第一作者中文科技核心论文1篇。<br />
    参与科研项目2项。</p>
    <h5>研究方向</h5>
    <ul>
    <li><p>机器视觉</p>
    </li>
    <li><p>深度学习</p>
    </li>
    <li><p>嵌入式开发</p>
    </li>
    <li><p>故障诊断</p>
    </li>
    </ul>
    <h5>发表论文</h5>
    <ol>
    <li><p> <b>郭强</b>*,刘伟平.基于支持向量机的裂解炉燃料气热值软测量,石油化工自动化,2014,50(05):38-41. (IF=0.431)</p>
    </li>
    <li><p>李奇安*,<b>郭强</b>.基于在线SVM的裂解炉燃料气热值软测量,浙江大学学报(工学版),2015,49(03):457-463+487. EI刊源. (IF=1.61)</p>
    </li>
    <li><p><b>郭强</b>,刘全利*,王伟. Fast SqueezeNet算法及在地铁人群密度估计上的应用, 控制理论与应用,2019,36(07):1036-1046. EI刊源. (IF=1.884)</p> 
    </li> 
    <li><p><b>Qiang Guo</b>, Quanli Liu*, Wei Wang, Yuanqing Zhang, Qiang Kang. A fast occluded passenger detector based on MetroNet and Tiny MetroNet, Information Sciences, 2020,534:16-26. SCI刊源/一区TOP. (IF=6.795)</p>
    </li> 
    <li><p>Quanli Liu, <b>Qiang Guo</b>*, Wei Wang, Yuanqing Zhang, Qiang Kang. An Automatic Detection Algorithm of Metro Passenger Boarding and Alighting Based on Deep Learning and Optical Flow, IEEE Transactions on Instrumentation and Measurement, 2021,70: 1-13. SCI刊源/二区. (IF=4.016)</p>
    </li>   
    <li><p><b>Qiang Guo</b>, Quanli Liu*, Yuanqing Zhang, Qiang Kang. A Smart Metro Passenger Detector Based on Two Mode MetroNexts, IEEE Transactions on Instrumentation and Measurement, 2023,72: 1-15. SCI刊源/二区. (IF=4.016)</p>
    </li>
    <!-- <li><p><b>Qiang Guo</b>*, RuBo Zhang, BingBing Zhang., A Pedestrian Sensitive Training Algorithm for False Positives Suppression in Two-stage CNN Detection Methods, CMC-Computers Materials & Continua, 2025. SCI刊源/四区. (IF=2.1)</p> -->
    <!-- </li> -->
    </ol>
    <h5>科研项目</h5>
    <ol>
    <li><p>大连市支持高层次人才创新创业项目-地铁智能运行关键技术</p></li>
    <li><p>中国石油兰州石化公司乙烯裂解炉先进控制项目</p></li>
    </ol>
    <h5>工作经历</h5>
    <ol>
    <li><p>2014.07-2015.05 哈尔滨航天科技控股集团股份有限公司 软件工程师</p></li>
    <ul>
    <li><p>负责设计 Sim 卡电路、液晶屏电路</p>
    </li>
    <li><p>B7车速检测，记录仪国标、行标的过检实验</p>
    </li>
    </ul>
    <li><p>2015.05-2017.05 江南计算技术研究所 软件工程师</p></li>
    <ul>
    <li><p>编写国产化平台 GPIO 和 BUZZ 驱动程序</p>
    </li>
    <li><p>国产平台内核产品化 更正 CPU 信息显示和 Bogomips 显示错误等</p>
    </li>
    <li><p>Raid卡盘阵的适配和测试</p>
    </li>
    </ul>
    <li><p>2022.10-2023.4 中国兵器工业集团航空弹药研究院 算法工程师</p></li>
    <ul>
    <li><p>导引头选型</p>
    </li>
    <li><p>小目标协同探测算法开发</p>
    </li>
    <li><p>算法的嵌入式布置</p>
    </li>
    </ul>
    </ol>
    <h5>Talks</h5>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <!-- <li><a href="http://huangxuan.me/">Hux</a></li> -->
        <!-- <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li> -->
    </ul>
</div>

<!-- English Version -->
<div class="en post-container"
	
<blockquote><p><b><i>"You have to believe in yourself.</b></i><br>
                   <b><i>That's the secret of success."</b></i><br>
</p></blockquote>
	
<p>Hello everyone, I am <strong>Guo Qiang (Nickname: Xiao Zhi or GQ)</strong>, based in Dalian, and a faculty member at Dalian Minzu University.</p>

<p>Dedicated to solving engineering problems with cutting-edge practical technologies, contributing modestly to society! I look forward to collaborating with like-minded students and colleagues!</p>

<p>Below is my professional profile.</p>

<h5>Professional Experience</h5>
<p> 
2007: Bachelor's degree in Electronic Information Engineering from Jilin Normal University.<br />
2011: Master's degree in Control Theory and Control Engineering from Liaoning Petrochemical University.<br />
2022: Ph.D. in Control Theory and Control Engineering from Dalian University of Technology.<br />
2023-Present: Lecturer in the Department of Automation, College of Mechanical and Electronic Engineering, Dalian Minzu University; Postdoctoral Fellow at Dalian University of Technology-Dalian Everyday Good Electronic Co., Ltd. Joint Program.
</p>
<p>Published 7 papers, including:<br />
- 3 first-author SCI papers (CAS Q1/Q2)<br />
- 1 corresponding-author SCI paper (CAS Q2)<br />
- 1 first-author EI paper<br />
- 1 second-author EI paper<br />
- 1 first-author Chinese core journal paper.<br />
Participated in 2 research projects.</p>

<h5>Research Interests</h5>
<ul>
<li><p>Machine Vision</p></li>
<li><p>Deep Learning</p></li>
<li><p>Embedded Systems Development</p></li>
<li><p>Fault Diagnosis</p></li>
</ul>

<h5>Publications</h5>
<ol>
<li><p><b>Guo Qiang</b>*, Liu Weiping. Soft Measurement of Calorific Value for Cracking Furnace Based onSupport Vector Machine. <i>Automation in Petro-Chemical Industry</i>, 2014,50(05):38-41. (IF=0.431)</p></li>

<li><p>Li Qi'an*, <b>Guo Qiang</b>. Soft measurement for calorific value ofcracking fuel gas based on Online SVM algorithm <i>Journal of Zhejiang University (Engineering Science)</i>, 2015,49(03):457-463+487. EI-indexed. (IF=1.61)</p></li>

<li><p><b>Guo Qiang</b>, Liu Quanli*, Wang Wei. Fast SqueezeNet Algorithm and Its Application in Metro Crowd Density Estimation. <i>Control Theory & Applications</i>, 2019,36(07):1036-1046. EI-indexed. (IF=1.884)</p></li>

<li><p><b>Qiang Guo</b>, Quanli Liu*, Wei Wang, Yuanqing Zhang, Qiang Kang. A Fast Occluded Passenger Detector Based on MetroNet and Tiny MetroNet. <i>Information Sciences</i>, 2020,534:16-26. SCI Q1/TOP. (IF=6.795)</p></li>

<li><p>Quanli Liu, <b>Qiang Guo</b>*, Wei Wang, Yuanqing Zhang, Qiang Kang. An Automatic Detection Algorithm of Metro Passenger Boarding and Alighting Based on Deep Learning and Optical Flow. <i>IEEE Transactions on Instrumentation and Measurement</i>, 2021,70: 1-13. SCI Q2. (IF=4.016)</p></li>

<li><p><b>Qiang Guo</b>, Quanli Liu*, Yuanqing Zhang, Qiang Kang. A Smart Metro Passenger Detector Based on Two Mode MetroNexts. <i>IEEE Transactions on Instrumentation and Measurement</i>, 2023,72: 1-15. SCI Q2. (IF=4.016)</p></li>
<!-- <li><p><b>Qiang Guo</b>*, RuBo Zhang, BingBing Zhang. A Pedestrian Sensitive Training Algorithm for False Positives Suppression in Two-stage CNN Detection Methods. <i>CMC-Computers Materials & Continua</i>, 2025. SCI Q4. (IF=2.1)</p></li> -->
</ol>

<h5>Research Projects</h5>
<ol>
<li><p>Dalian High-Level Talent Innovation & Entrepreneurship Support Program - Key Technologies for Intelligent Metro Operations</p></li>
<li><p>Advanced Control Project for Ethylene Cracking Furnaces at PetroChina Lanzhou Petrochemical</p></li>
</ol>

<h5>Work Experience</h5>
<ol>
<li><p>2014.07-2015.05: Software Engineer at Harbin Aerospace Technology Holding Group Co., Ltd.</p></li>
<ul>
<li><p>Designed SIM card circuits and LCD display circuits</p></li>
<li><p>Conducted B7 speed detection and compliance testing for data recorders per national/industry standards</p></li>
</ul>

<li><p>2015.05-2017.05: Software Engineer at Jiangnan Institute of Computing Technology</p></li>
<ul>
<li><p>Developed GPIO and BUZZ drivers for domestic platforms</p></li>
<li><p>Optimized kernel productization: Corrected CPU information display and Bogomips calculation errors</p></li>
<li><p>RAID card array adaptation and testing</p></li>
</ul>

<li><p>2022.10-2023.04: Algorithm Engineer at Aviation Ammunition Research Institute, China Ordnance Industries Group</p></li>
<ul>
<li><p>Seeker component selection</p></li>
<li><p>Small-target collaborative detection algorithm development</p></li>
<li><p>Embedded deployment of algorithms</p></li>
</ul>
</ol>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

